@use '../utilities/mixins' as M;

.loading-box {
    width: 100vw;
    height: 100vh;
    
    @include M.flex-settings(column, center);

    &__logo {
        width: 60px;
        height: 60px;
        animation: rotate 3s linear infinite;
    }

    &__spinner {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;

        &__circle {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);

            &:nth-child(1) {
                left: 8px;
                animation: loading-icon1 0.6s infinite;
            }
            &:nth-child(2) {
                left: 8px;
                animation: loading-icon2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 32px;
                animation: loading-icon2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 56px;
                animation: loading-icon3 0.6s infinite;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(60deg);
    }
    20% {
        transform: rotate(120deg);
    }
    40% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(240deg);
    }
    80% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-icon1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes loading-icon2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}

@keyframes loading-icon3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}