@use '../utilities/variables.scss' as V;
@use '../utilities/mixins.scss' as M;

.sidebar {
    @include M.flex-settings(column);

    position: absolute;
    right: 0;
    top: 0;

    width: 35vw;
    height: 100vh;

    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.3);

    background-color: rgba(110,110,100,0.25);
    color: V.$sidebar-text-color;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    z-index: 1;

    h3 {
        font-size: 22px;
    }

    .search-box {
        @include M.flex-settings(row, space-evenly);

        width: 30vw;
        height: 60px;
        margin: 20px 0;
        background: #fff;
        color: #4d4d4d;
        border-radius: 50px;
        opacity: 0.6;

        * {
            border: none;
            font-size: 22px;
        }

        form {
            @include M.flex-settings(row, space-between);

            width: 75%;
            height: 60px;
            border-radius: 50px;

            input {
                width: 65%;
                height: 60px;
            }

            button{
                min-width: 40px;
                min-height: 40px;
                border-radius: 50%;
                color: V.$first-bg-color;
                background-color: #c3dee9;
                cursor: pointer;
            }
        }
    }
    
    .search-history {
        ul {
            width: 25vw;
            padding-bottom: 1em;
            margin: 2em 0;
            border-bottom: 1px solid rgb(255,255,255,0.6);

            li {
                margin: 2.5em 0;
                cursor: pointer;

                &:hover {
                    color: V.$sidebar-text-hover-color;
                }
            }
        }
    }

    .weather-details {
        @include M.flex-settings(column, flex-start, nowrap, flex-start);
        width: 25vw;
        margin: 2em 0;

        #cloudy, #humidity, #wind {
            @include M.flex-settings(row, flex-start, nowrap, flex-start);
            margin: 1em 0;

            i {
                font-size: 22px;
                margin-right: 10px;
            
                align-self: center;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .search-box input {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        @include M.flex-settings(row, center, wrap);
        top: 35vh;
    
        width: 100%;
        height: auto;

        .search-box {
            min-width: 70vw;
            margin: 20px 100px;
        }
    
        .search-history { 
            ul {
                min-width: 30vw;
                border: none;
            }
            margin: 2em 0;
        }
        
        .weather-details {
            min-width: 25vw;
            height: 347px;
        }
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        @include M.flex-settings(column);

        .search-box {
            margin: 20px 0;

            input {
                font-size: 15px;
            }
        }
    
        .search-history {
            ul {
                width: 50vw;
                border-bottom: 1px solid rgb(255,255,255,0.6);
            }
            margin: 0;
        }
    
        .weather-details {
            width: 50vw;
        }
    }
}