@use '../utilities/variables.scss' as V;

.sidebar {
    position: absolute;
    right: 0;
    top: 0;

    width: 35vw;
    height: 100vh;

    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(110,110,100,0.25);
    color: #d8d8d8;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    z-index: 1;

    h3 {
        font-size: 22px;
    }

    .search-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 30vw;
        height: 60px;
        margin: 20px 0;
        background: #fff;
        color: #4d4d4d;
        border-radius: 50px;
        opacity: 0.6;

        * {
            border: none;
            font-size: 22px;
        }

        form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 75%;
            height: 60px;
            border-radius: 50px;

            input {
                width: 65%;
                height: 60px;
            }

            button{
                min-width: 40px;
                min-height: 40px;
                border-radius: 50%;
                color: V.$first-bg-color;
                background-color: #c3dee9;
                cursor: pointer;
            }
        }
    }
    
    .search-history {
        ul {
            width: 25vw;
            padding-bottom: 1em;
            margin: 2em 0;
            border-bottom: 1px solid rgb(255,255,255,0.6);

            li {
                margin: 2.5em 0;
                cursor: pointer;

                &:hover {
                    color: #eeeeee;
                }
            }
        }
    }

    .weather-details {
        width: 25vw;
        margin: 2em 0;
    
        display: flex;
        flex-direction: column;

        #cloudy, #humidity, #wind {
            display: flex;
            flex-direction: row;
        
            margin: 1em 0;

            i {
                font-size: 22px;
                margin-right: 10px;
            
                align-self: center;
            }
        }
    }
}