$first-bg-color: rgb(20, 30, 48);
$second-bg-color: rgb(36, 59, 85);
$sidebar-text-color: #d8d8d8;
$sidebar-text-hover-color: #eeeeee;
$error-text-color: rgb(73, 9, 9);
$error-bg-color: rgba(160, 39, 39,0.9);